.navbar {
  display: flex;
  width: 100vw;
  padding: 19px 120px 23px 120px;
  justify-content: space-between;
  align-items: center;
}

.navbar__links {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: space-between;
}

a {
  text-decoration: none;
}
 a {
  font-size: 22px;
  font-weight: 700;
  color: #636363;
}

 a:hover {
  color: #00faac;
}


