*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: DM Sans, sans-serif;
}
#root,
body,html {
  width: 100vw;
  z-index: -1;
  position: relative;
  overflow-x: hidden;
}



.opening {
  color: #1d2bb2;
  font-family: DM Sans, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  margin: 65px 120px;
}

